# Ignore model files and other large data
models/*
__pycache__/
*.wav
*.mp3
*.zip
.DS_Store
.env
*.pyc
*.pyo
venv312/
venv310/
venv/
.venv/
chat.txts
temp/*
test/*
data/*
user_data.json
user_notes.json
assets/*
*.db
*/*.db